.results-container {
  max-height: 550px;
  overflow-y: auto;
}

.video-info-container {
  min-height: 130px;
  overflow-y: hidden;
  font-weight: bolder;
  cursor: pointer;
  line-height: 1.14;

  .video-description {
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover {
    overflow-y: visible;
    height: fit-content;
    border: solid 2px #00000088;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #00000088;

    .video-description {
      -webkit-text-fill-color: inherit;
    }
  }
}

.results {
  font-size: 28px;
  max-height: 50px;
}

.video-title {
  font-size: 16px;
}

.video-description {
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 992px) {
  .results-container {
    max-height: 400px;
  }

  .results {
    font-size: 22px;
  }

  .video-title {
    font-size: 14px;
  }

  .video-description {
    font-size: 13px;
  }
}

::ng-deep .spinner-circle {
  font-size: 28px !important;
}
